   body {
      margin: 0;
      height: 1024px;
   }
   hr{
      width: 550px;
   }
   .sidemenu a:hover{
      color: white;
   }
   .container{
            height:100%;
            width:100%;
            float: left;
            position: relative;
        }
        .sidemenu{
            float: left;
            background-color: #3b73cf;
            height: 100%;
            padding-right: 50px;
            position: absolute;
        }
        #printP{
            margin-left:30%;
            height:100%;
            position: relative;
            overflow:auto;
            padding-left: 80px;
            /* display: inline-block; */
        }
        .footer{
            clear: both;
            height: 50px;
         padding-top:50px;
         padding-bottom:50px;
            background-color: black;
        }
        .header {
           background-color: #fff;
           top: 0;
           width: 100%;
        }
        .header a {
           display: block;
           color: #a59f9b;
           text-align: center;
           /* padding: 14px 16px; */
           text-decoration: none;
           font-size: 17px;
           font-weight: 600;
        }
        .home {
           float: left;
           padding: 14px 50px;
        }
        .etc {
          float: right;
          padding: 14px 0px 14px 50px;
        }
        a{
            text-decoration: none;
            margin-left: 20px;
        }
        li{
            list-style: none;
            margin-top: 15px;
        }
        .trainer{
           cursor:pointer;
           width:250px;
           height:250px;
           border-radius:5px;
           box-shadow:5px 5px 5px gray;
           text-align: center;
           margin-bottom:15px;
           display: inline-table;
        }
        .Info{
           width:550px;
           border-radius:5px;
           box-shadow: 10px 10px 10px gray;
           margin-left:15px;
        }
        #hr{
           width: 700px;
        }
        #image{
        	width: 250px;
        	height: 150px;
        	max-height: 100%;
        	max-width: 100%;
        }