body {
   margin: 0;
}
/*상단 메뉴바 css*/
.navbar {
   overflow: hidden;
   background-color: #fff;
   position: fixed;
   top: 0;
   width: 100%;
}
.navbar a {
   display: block;
   color: #a59f9b;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   font-weight: 600;
}
.home {
   float: left;
}
.etc {
   float: right;
}
/*상단 메뉴바 css end*/
.sidemenu{
   position: fixed;
   width: 20%;
   height: 100%;
   background-color: #3b73cf;
}

.main {
   padding: 16px;
   margin-top: 30px;
   height: 1500px;
}
.container{
   margin-top:6%;
   float: left;
   display: inline-flex;
}
.container ul{
   padding-left:0px;
   list-style: none;
}
.container li{
   margin-bottom: 15px;
   padding: 10px 15px;
}
a{
   text-decoration: none;
   color: black;
}
.container a:hover{
   color: white;
}

.bank{
   text-align:center;
   width: 250px;
   height: 50px;
}
#printP{
   margin-left: 20%;
   height: 100%;
   width: 80%;
   text-align: center;
   position: absolute;
}
/*트레이너 정보 보기 페이지 css*/
.Tinfo-block {
   width: 720px;
    padding: 20px;
    margin: 70px 0px 0px 40%;
}

.Tinfo-block h1 {
   text-align: center;
   color: #000;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 20px;
   font-weight: bolder;
}

.Tinfo-block input {
   width: 100%;
   height: 42px;
   box-sizing: border-box;
   border: 1px solid #ccc;
   margin-bottom: 20px;
   font-size: 14px;
   font-family: Montserrat;
   font-weight: 600;
   outline: none;
}
.Tupdate-block {
   text-align: center;
    margin-left: 42%;
    width: 730px;
}

input.update {
   width: 235px;
   height: 61px;
   background-color: #3b73cf;
   box-sizing: border-box;
   border-radius: 5px;
   border: 1px solid #e15960;
   color: #fff;
   font-weight: 900;
   text-transform: uppercase;
   font-size: 24px;
   font-family: Montserrat;
   outline: none;
   cursor: pointer;
}
.container2{
   float: left;
   display: block;
}
/*트레이너 정보 보기 페이지 css End*/