.fooddiary{
		border-radius: 5px;
		margin-left: 25px;
		text-align: center;
		width: 100%;
	}
	#fInfo{
		border-radius: 5px;
		width: 100%;
	}
	table{
		width: 100%;
		text-align: center;
		border:1px solid white;
	}
	td{
		width: 150px;
	}
	th{
		width: 150px;
		text-align: center;
		background-color: lightsteelblue;
		border-bottom: 1px solid gray;
	}